<!-- Historial de Cálculos -->
<div id="history-section" class="pt-4 border-t border-gray-200 dark:border-gray-700 hidden">
    <div class="flex justify-between items-center mb-2">
        <h3 data-i18n="recentHistory"
            class="text-xs font-bold uppercase tracking-wider text-gray-500 dark:text-gray-400">Historial
            Reciente</h3>
        <button id="btn-clear-history" data-i18n="btnClear"
            class="text-xs text-rose-500 hover:underline">Borrar</button>
    </div>
    <div id="history-container" class="space-y-2 text-xs"></div>
</div>
