<!-- Footer -->
<footer role="contentinfo"
    class="mt-8 pt-4 pb-12 border-t border-gray-200 dark:border-gray-800 text-center text-[11px] text-gray-400 dark:text-gray-500 space-y-2 max-w-xl mx-auto px-4">
    <p data-i18n="footerText">
        PokeBoxValue es un proyecto independiente desarrollado por fans y no está afiliado, patrocinado ni respaldado por Scopely, Niantic, The Pokémon Company, Nintendo o GAME FREAK. Pokémon y los nombres de los objetos son marcas registradas de sus respectivos propietarios.
    </p>
    <div class="flex justify-center items-center flex-wrap gap-2 sm:gap-3 pt-1 text-gray-500 dark:text-gray-400">
        <a id="btn-guide" href="/es/guide" data-i18n="btnGuide" class="hover:underline cursor-pointer">Guía de Cajas</a>
        <span>•</span>
        <a id="btn-faq" href="/es/faq" data-i18n="btnFaq" class="hover:underline cursor-pointer">Preguntas Frecuentes</a>
        <span>•</span>
        <a id="btn-legal" href="/es/legal" data-i18n="btnLegal" class="hover:underline cursor-pointer">Aviso Legal</a>
        <span>•</span>
        <a id="btn-privacy" href="/es/privacy" data-i18n="btnPrivacy" class="hover:underline cursor-pointer">Política de Privacidad</a>
        <span>•</span>
        <button id="btn-cookies" data-cc="show-preferencesModal" class="hover:underline cursor-pointer">Configurar Cookies</button>
        <span>•</span>
        <p>PokeBoxValue <span id="app-version" class="font-mono"></span></p>
    </div>
</footer>
